/* outfit (loud) and instrument (elegant) font */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Outfit:wght@100..900&display=swap');

/* Reset some default styles */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* Prevents font sizes from jumping around on mobile devices when rotating screens */
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    background-color: white !important; /* Light background color for better contrast */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-rendering: optimizeSpeed; /* Improves text rendering performance */
    line-height: 1.5; /* Good default baseline readability typography spacing */

    background-color: white !important;
    
    /* Font Smoothing: Makes text crisp and sharp on macOS/Windows */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2; /* Tighter line height for headings looks better */
    font-weight: inherit; /* Inherits whatever font weight you declare later */
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit; /* Makes links inherit text color until you explicitly style them */
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
}

button,
a {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

button:active {
    transform: scale(0.95);
}

input[type="text"],
input[type="email"],
textarea {
    -webkit-appearance: none;
    appearance: none;
}

*:focus {
    outline: none;
}

/* Custom CSS */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1.3rem;
    background-color: black;
    color: white;

    width: 100%;
}

.navbar-container__logo {
    font-family: 'Instrument Serif', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    word-spacing: -0.1em; /* Adds a bit of spacing between letters for a more elegant look */
}

.navbar-container__logo span {
    font-style: italic;
}

.navbar-container__links {
    display: flex;
    gap: 2.5rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

.fa-linkedin-in {
    transition: all 0.2s;
}

.fa-linkedin-in:hover {
    color: #0A66C2;
}

.fa-linkedin-in:active {
    color: #0A66C2;
    transform: scale(0.9);
}

.fa-whatsapp {
    transition: all 0.2s;
}

.fa-whatsapp:hover {
    color: lightgreen;
}

.fa-whatsapp:active {
    color: lightgreen;
    transform: scale(0.9);
}

.hero-container {
    flex-grow: 1;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.hero-container__content {
    display: flex;
    flex-direction: column;
}

.hero-container__title {
    font-family: 'Instrument Serif', serif;
    font-size: 6rem;
    font-weight: 400;
}

.hero-container__description {
    font-family: 'Instrument Serif', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

/* 1. The main form container wrapper */
.waitlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.waitlist-container__input {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;

    padding: 0.6rem 1rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ffffff;
    
    width: 100%;
    max-width: 300px; 
}

.waitlist-container__input input {
    flex: 1;            
    min-width: 0;       
    border: none;       
    outline: none;      
    background: transparent;
    font-size: 1rem;
    font-family: 'Instrument Serif', sans-serif;
}

.fa-envelope {
    font-size: 1.3rem;
    color: black;
    flex-shrink: 0;
}

.waitlist-container__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    padding: 0.6rem 1.2rem;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1.6rem;
    font-family: 'Instrument Serif', sans-serif;
    font-weight: 500;
    width: 100%;
    max-width: 300px;

    transition: all 0.4s;
}

.waitlist-container__button:hover {
    background-color: black;
    color: white;
}

.waitlist-container__button:active {
    transition: all 0.2s;
    background-color: black;
    color: white;
    transform: scale(0.95); /* To make it shrink on tap */               
}

.waitlist-container__button:disabled {
    background-color: #f0f0f0;
    color: #a0a0a0;
    cursor: not-allowed;
    opacity: 0.8;
}

.fa-chevron-right {
    font-size: 1.3rem;
    flex-shrink: 0;
    color: inherit;
}

.join-success {
    background-color: lightgreen;
}

.join-fail {
    background-color: red;
}

.fa-solid.fa-check {
    font-size: 1.3rem;
    flex-shrink: 0;
    color: inherit;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;            
    height: 100vh;           
    background-color: rgba(0, 0, 0, 0.4); /* 40% transparent black */
    backdrop-filter: blur(2px); /* subtle background blur  */

    display: none;           /* Hidden by def */
    justify-content: center; 
    align-items: center;     
    
    z-index: 10000;          
}

.popup-overlay.show-popup {
    display: flex;           /* JS will toggle this class */
}

.popup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    max-width: 500px;
    width: 100%;
    background-color: white;
    border: 1px solid black;
}

.popup-box__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
}

.popup-box__description {
    font-family: 'Instrument Serif', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 1rem 0;
}

.popup-box__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.popup-box__links a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;

    font-family: 'Instrument Serif', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;

    border: 1px solid black;
    padding: 0.2rem 2rem;
    transition: all 0.2s;
}

.popup-box__links .popup-box__whatsapp:hover {
    background-color: lightgreen;
    color: white;
}

.popup-box__links .popup-box__linkedin:hover {
    background-color: #0A66C2;
    color: white;
}

.popup-box__links .popup-box__whatsapp:active {
    background-color: lightgreen;
    color: white;

    transform: scale(0.95);
}

.popup-box__links .popup-box__linkedin:active {
    background-color: #0A66C2;
    color: white;
    transform: scale(0.95);
}

@media (max-width: 925px) {
    #hero-container__fast-span::before {
        content: '\a';
        white-space: pre;
    }

    .hero-container__content {
        padding: 0 6rem;
    }
}

@media (max-width: 640px) {
    hero-container__content {
        padding: 0 3rem;
    }

    .waitlist-container {
        padding-bottom: 3rem;
    }

    .hero-container__title {
        font-size: 4.5rem;
    }

    .hero-container__description {
        font-size: 1rem;
    }
}

@media (max-width: 449px) {
    .hero-container__title {
        font-size: 4rem;
    }
}
