<div class="popup-overlay">
    <div class="popup-box">
        <div class="popup-box__heading">
            <h2>Follow Us On Linkedin!</h2>
            <button class="popup-box__close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <hr>

        <ul class="popup-box__links">
            <li>
                <a class="popup-box__linkedin" href="https://www.linkedin.com/in/ahmed-akhtar-2300643aa" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin-in"></i>
                    <span>Ahmed Akhtar</span>
                </a>
            </li>
            <li>
                <a class="popup-box__linkedin" href="https://www.linkedin.com/in/muhammad-talha-hmd/" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin-in"></i>
                    <span>Talha Hamid</span>
                </a>
            </li>
        </ul>
    </div>
</div>