<div class="navbar-container">
    <h1 class="navbar-container__menu">
        <button class="navbar-container__menu-button" type="button" aria-label="Toggle Menu">
            <i class="fa-solid fa-bars"></i>
        </button>
    </h1>

    <h1 class="navbar-container__logo">FAST <span>Wiki</span></h1>

    <ul class="navbar-container__links">

        <!-- For LinkedIn: Make a popup so both Ahmed and Talha can be viewed -->
        <li>
            <button class="navbar-container__profile-link" type="button" aria-label="LinkedIn Community">
                <i class="fa-brands fa-linkedin-in"></i>
            </button>
        </li>

        <li>
            <a href="https://chat.whatsapp.com/FldnfOWBpvdIFQc6bPh54m" target="_blank" rel="noopener noreferrer"
                aria-label="WhatsApp Community">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </li>
    </ul>
</div>