<div class="sidebar-container">
    <h1 class="sidebar-container__title">Explore Sections</h1>
    <hr>

    <ul class="sidebar-container__links">
        <li>

            <div class="sidebar-container__searchbar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search anything..." class="searchbar-btn">
            </div>

            <div class="sidebar-container__header">
                <h2>Admissions</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="/src/sections/admissions/overview/overview.html">Overview</a></li>
                <li><a href="/src/sections/admissions/degree-comparisons/degree-comparisons.html">Degree Comparisons</a></li>
                <li><a href="/src/sections/admissions/how-to-apply/how-to-apply.html">How To Apply</a></li>
                <li><a href="/src/sections/admissions/entry-tests/entry-tests.html">NU vs SAT vs NAT</a></li>
                <li><a href="/src/sections/admissions/nu-test/nu-test.html">NU - Entry Test</a></li>
                <li><a href="/src/sections/admissions/sat-test/sat-test.html">SAT - Entry Test</a></li>
                <li><a href="/src/sections/admissions/merit/merit.html">Merit & Cutoffs</a></li>
                <li><a href="/src/sections/admissions/university-comparisons/university-comparisons.html">University Comparisons</a></li>
            </ul>
        </li>

        <li>
            <div class="sidebar-container__header">
                <h2>Academics</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="/src/sections/academics/academic-rules/academic-rules.html">Rules</a></li>
                <li><a href="/src/sections/academics/calendar/calendar.html">Academic Calendar</a></li>
                <li><a href="/src/sections/academics/grading/grading.html">Grading System</a></li>
                <li><a href="/src/sections/academics/ragra/ragra.html">Ragra Reality</a></li>
                <li><a href="/src/sections/academics/gpa-economy/gpa-economy.html">GPA Economy</a></li>
                <li><a href="/src/sections/academics/course-registration/course-registration.html">Course Registration</a></li>
                <li><a href="/src/sections/academics/warnings/warnings.html">Academic Warnings</a></li>
                <li><a href="/src/sections/academics/failsafes/failsafes.html">Failsafes</a></li>
                <li><a href="/src/sections/academics/study-strategy/study-strategy.html">Study Strategy</a></li>
            </ul>
        </li>

        <li>
            <div class="sidebar-container__header">
                <h2>Finances</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="/src/sections/finances/fee-structure/fee-structure.html">Fee Structure</a></li>
                <li><a href="/src/sections/finances/financial-aid/financial-aid.html">Financial Aid</a></li>
                <li><a href="/src/sections/finances/scholarships/scholarships.html">Scholarships</a></li>
                <li><a href="/src/sections/finances/affordability/affordability.html">Affordability</a></li>
            </ul>
        </li>

        <li>
            <div class="sidebar-container__header">
                <h2>Campus Life</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="/src/sections/campus-life/culture/culture.html">Culture</a></li>
                <li><a href="/src/sections/campus-life/gender-norms/gender-norms.html">Gender Norms</a></li>
                <li><a href="/src/sections/campus-life/teachers/teachers.html">Teachers</a></li>
            </ul>
        </li>

        <li>
            <div class="sidebar-container__header">
                <h2>Career & Future</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="/src/sections/career/local-jobs/local-jobs.html">Local Jobs</a></li>
                <li><a href="/src/sections/career/going-abroad/going-abroad.html">Going Abroad</a></li>
                <li><a href="/src/sections/career/abroad-tactics/abroad-tactics.html">Abroad Tactics</a></li>
                <li><a href="/src/sections/career/specialisations/specialisations.html">Specialisations</a></li>
            </ul>
        </li>

        <li>
            <div class="sidebar-container__header">
                <h2>Help & Faqs</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="/src/sections/help/faq/faq.html">FAQ</a></li>
                <li><a href="/src/sections/help/useful-links/useful-links.html">Useful Links</a></li>
            </ul>
        </li>

        <div class="sidebar-container__header" id="about-us-header">
            <h2><a href="/about.html">About Us</a></h2>
        </div>

        <div class="sidebar-container__header" id="support-us-header">
            <h2><a href="/support.html">Support Us</a></h2>
        </div>
    </ul>
</div>