<div class="sidebar-container">
    <h1 class="sidebar-container__title">Explore Sections</h1>
    <hr>

    <ul class="sidebar-container__links">
        <li>
            <div class="sidebar-container__header">
                <h2>Admissions</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="#">Overview</a></li>
                <li><a href="#">How To Apply</a></li>
                <li><a href="#">NU vs SAT vs NAT</a></li>
                <li><a href="#">NU - Entry Test</a></li>
                <li><a href="#">SAT - Entry Test</a></li>
                <li><a href="#">Merit & Cutoffs</a></li>
                <li><a href="#">University Comparisons</a></li>
            </ul>
        </li>

        <li>
            <div class="sidebar-container__header">
                <h2>Academics</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="#">Academic Calendar</a></li>
                <li><a href="#">Grading System</a></li>
                <li><a href="#">Ragra Reality</a></li>
                <li><a href="#">GPA Economy</a></li>
                <li><a href="#">Rules</a></li>
                <li><a href="#">Course Registerations</a></li>
                <li><a href="#">Academic Warnings</a></li>
                <li><a href="#">Failsafes</a></li>
                <li><a href="#">Study Strategy</a></li>
            </ul>
        </li>

        <li>
            <div class="sidebar-container__header">
                <h2>Finances</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="#">Fee Structure</a></li>
                <li><a href="#">Financial Aid</a></li>
                <li><a href="#">Scholarships</a></li>
                <li><a href="#">Affordability</a></li>
            </ul>
        </li>

        <li>
            <div class="sidebar-container__header">
                <h2>Campus Life</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="#">Culture</a></li>
                <li><a href="#">Gender Norms</a></li>
                <li><a href="#">Teachers</a></li>
            </ul>
        </li>

        <li>
            <div class="sidebar-container__header">
                <h2>Career & Future</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="#">Local Jobs</a></li>
                <li><a href="#">Going Abroad</a></li>
                <li><a href="#">Abroad Tactics</a></li>
                <li><a href="#">FAANG</a></li>
            </ul>
        </li>

        <li>
            <div class="sidebar-container__header">
                <h2>Help & Faqs</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Glossary</a></li>
            </ul>
        </li>
    </ul>
</div>