<div class="sidebar-container">
    <h1 class="sidebar-container__title">Explore Sections</h1>
    <hr>

    <ul class="sidebar-container__links">
        <li>
            <div class="sidebar-container__header">
                <h2>Admissions</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="/admissions/overview">Overview</a></li>
                <li><a href="/admissions/degree-comparisons">Degree Comparisons</a></li>
                <li><a href="/admissions/how-to-apply">How To Apply</a></li>
                <li><a href="/admissions/entry-tests">NU vs SAT vs NAT</a></li>
                <li><a href="/admissions/nu-test">NU - Entry Test</a></li>
                <li><a href="/admissions/sat-test">SAT - Entry Test</a></li>
                <li><a href="/admissions/merit">Merit & Cutoffs</a></li>
                <li><a href="/admissions/university-comparisons">University Comparisons</a></li>
            </ul>
        </li>

        <li>
            <div class="sidebar-container__header">
                <h2>Academics</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="/academics/calendar">Academic Calendar</a></li>
                <li><a href="/academics/grading">Grading System</a></li>
                <li><a href="/academics/ragra">Ragra Reality</a></li>
                <li><a href="/academics/gpa-economy">GPA Economy</a></li>
                <li><a href="/academics/academic-rules">Rules</a></li>
                <li><a href="/academics/course-registration">Course Registration</a></li>
                <li><a href="/academics/warnings">Academic Warnings</a></li>
                <li><a href="/academics/failsafes">Failsafes</a></li>
                <li><a href="/academics/study-strategy">Study Strategy</a></li>
            </ul>
        </li>

        <li>
            <div class="sidebar-container__header">
                <h2>Finances</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="/finances/fee-structure">Fee Structure</a></li>
                <li><a href="/finances/financial-aid">Financial Aid</a></li>
                <li><a href="/finances/scholarships">Scholarships</a></li>
                <li><a href="/finances/affordability">Affordability</a></li>
            </ul>
        </li>

        <li>
            <div class="sidebar-container__header">
                <h2>Campus Life</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="/campus-life/culture">Culture</a></li>
                <li><a href="/campus-life/gender-norms">Gender Norms</a></li>
                <li><a href="/campus-life/teachers">Teachers</a></li>
            </ul>
        </li>

        <li>
            <div class="sidebar-container__header">
                <h2>Career & Future</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="/career/local-jobs">Local Jobs</a></li>
                <li><a href="/career/going-abroad">Going Abroad</a></li>
                <li><a href="/career/abroad-tactics">Abroad Tactics</a></li>
                <li><a href="/career/specialisations">Specialisations</a></li>
            </ul>
        </li>

        <li>
            <div class="sidebar-container__header">
                <h2>Help & Faqs</h2>
            </div>

            <ul class="sidebar-container__sub-links">
                <li><a href="/help/faq">FAQ</a></li>
                <li><a href="/help/glossary">Glossary</a></li>
            </ul>
        </li>
    </ul>
</div>